@import "variables";

input[readonly] {
  background-color: $color_bg;
}
input[type=file] {
  display: block;
  border: 1px solid #EEE;
  padding: 10px;
  box-sizing: border-box;
  height: $input_height;
  width: 100%;
  background: white;
}