@import "variables";

.header {
  background-color: $header_bg_color;
  background-image: linear-gradient(135deg, rgba(0,161,224,0.3), transparent);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  
  &, a {
    color: white;
    text-decoration: none;
  }

  > * {
    flex-grow: 0;
  }

  .header__search {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    width: 400px;
    flex-grow: 1;
  }
}

.header__item {
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  display: block;

  &:hover, &:focus {
    background: darken($header_bg_color, 5%);
    box-shadow: none;
  }

  &.header__item--logo {
    margin-left: 0;
    width: $nav_width;
    text-align: left;

    &:hover {
      background-color: transparent;
    }

    img {
      height: 36px;
      margin-top: 7px;
    }
  }

  &.header__item--icon {
    .icon {
      font-size: 18px;
      float: left;
      margin-top: 15px;
    }
  }
}

.header__toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  background: transparent;

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #FFF;

    & + .icon-bar {
      margin-top: 4px;
    }
  }
}

.header__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  .header__menu-item {
    padding: 10px 15px;
  }
}

.header__user {
  .header__item {
    padding-top: 9px;
    padding-bottom: 8px;

    .avatar {
      width: 32px;
      height: 32px;
      display: inline-block;

      &.avatar--letter {
        color: white;
        line-height: 32px;
        font-size: 15px;
      }
    }
  }

  .header__user-carrot {
    float: right;
    margin-left: 5px;
    margin-top: 8px;
    display: none;
    font-weight: bold;
  }

  .dropdown__menu {
    background: darken($header_bg_color, 5%);
    right: 0;
    width: 240px;
    min-width: 240px;

    a {
      padding: 10px 15px;
      border-top: 1px solid darken($header_bg_color, 10%);

      &:hover {
        background-color: darken($header_bg_color, 10%);
      }

      .icon {
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }
}

@media(min-width: $screen_large) {
  .header__item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__user {
    .dropdown__menu a {
      padding: 15px 20px;
    }
    .header__user__name {
      padding: 10px 15px;
    }
    .icon {
      display: inline-block;
    }
  }
}