@import "variables";

.header {
  background-color: $header_bg_color;
  background-image: linear-gradient(135deg, rgba(0,161,224,0.3), transparent);
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  
  &, a {
    color: white;
    text-decoration: none;
  }

  > * {
    flex-grow: 0;
  }

  .header__search {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px;
    display: none;
    flex-grow: 1;
    order: 2;
  }
}


.header__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  
  .header__menu-item {
    padding: 10px 15px;
  }
}

.header__menu-toggle{
  display: block;
  box-sizing: content-box;
  width: 22px;
  padding: 15px 15px 24px;

  .icon-hamburger__lines {
    position: relative;
    display: block;
    margin-top: 10px;

    &:before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -6px;
    }
    &::after {
      top: 6px;
    }
  }
  .icon-hamburger__lines,
  .icon-hamburger__lines::before,
  .icon-hamburger__lines::after {
    width: 100%;
    height: 1px;
    -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: white;
  }
}

.header__item {
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  display: block;

  &:hover, &:focus {
    background: darken($header_bg_color, 5%);
    box-shadow: none;
  }


  &.header__item--logo {
    margin-left: 0;
    padding-left: 0;
    width: auto;
    text-align: left;
    display: flex;
    align-items: center;

    &:hover {
      background-color: transparent;
    }

    a {
      display: flex;
    }

    img {
      height: 27px;
    }
  }

  &.header__item--icon {
    .icon {
      font-size: 18px;
      float: left;
      margin-top: 15px;
    }
  }
} 

.header__toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  background: transparent;

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #FFF;

    & + .icon-bar {
      margin-top: 4px;
    }
  }
}

.header__user--store {
  margin-left: auto;
}

.header__user {
  .header__item {
    padding-top: 9px;
    padding-bottom: 8px;

    .avatar {
      width: 32px;
      height: 32px;
      display: inline-block;

      &.avatar--letter {
        color: white;
        line-height: 32px;
        font-size: 15px;
      }
    }
  }

  .header__user-carrot {
    float: right;
    margin-left: 5px;
    margin-top: 8px;
    display: none;
    font-weight: bold;
  }

  .dropdown__menu {
    background: darken($header_bg_color, 5%);
    right: 0;
    z-index: 2;
    width: 240px;
    min-width: 240px;

    a {
      padding: 10px 15px;
      border-top: 1px solid darken($header_bg_color, 10%);

      &:hover {
        background-color: darken($header_bg_color, 10%);
      }

      .icon {
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: $screen_tablet) {
  .header {
    .header__search {
      display: flex;
      order: 0; 
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 15px;
      width: 400px;
    }

    .header__menu-toggle {
      display: none;
    }

    .header__item {
      &.header__item--logo {
        margin-left: inherit;
        padding-left: 15px;
      }
    }
  }
}

@media(min-width: $screen_large) {
  .header {
    height: 50px;
  }

  .header__item {
    padding-left: 20px;
    padding-right: 20px;

    &.header__item--logo {
      img {
        height: 35px;
      }
    }
  }

  .header__user {
    .dropdown__menu a {
      padding: 15px 20px;
    }
    .header__user__name {
      padding: 10px 15px;
    }
    .icon {
      display: inline-block;
    }
  }

}
