.mobility {
  .mobility__locale {
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid #ebeef0;
  }
  .mobility__locale:first-of-type {
    border-top: 1px solid #ebeef0;
  }

  .mobility__flag {
    flex-grow: 0;
    padding: 9px 10px 6px;
  }
  input, textarea {
    border-width: 0 1px 0;
    margin-bottom: 0;
    flex-grow: 1;
  }

  .mobility__expanded {
    .mobility__expand {
      display: block;
      padding: 5px 0;
      font-size: 13px;

      &.mobility__expand--hide {
        display: none;
      }

      &:hover {
        color: #333;
      }
    }

    &.open {
      .mobility__expand--open {
        display: none;
      }
      .mobility__expand--hide {
        display: block;
      }
      .mobility__locale {
        display: flex;
      }
    }

    .mobility__locale {
      display: none;
    }
  }
}