@import "variables";

.select2-container--default .select2-selection {
  border-radius: 0;
}
.select2-container .select2-selection {
  height: $input_height;
}
.select2-container--default .select2-selection .select2-selection__rendered {
  line-height: $input_height;

  li.select2-selection__choice {
    line-height: 23px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
  }
}
.select2-container--default .select2-selection .select2-selection__arrow {
  height: $input_height - 2px;
  margin-right: 5px;
}
.select2-container .select2-selection .select2-selection__rendered {
  padding-left: 13px;
}
.select2-container--default .select2-selection, 
.select2-container--default .select2-search--dropdown .select2-search__field, 
.select2-dropdown {
  border-color: $color_bg_darker;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 36px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 0;
  background: whitesmoke;
  border-radius: 20px;

  &:focus {
    outline: none;
  }
}
.select2-search--dropdown {
  padding: 10px;
}

.dropdown__menu {
  .select2-container {
    width: 100% !important;
  }
}
.select-url .select2-chosen {
  display: none;
}

.select2-results__option {
  min-height: 16px;
  padding: 8px 13px;
  border-top: 1px solid $color_bg_darker;
}

.select2-dropdown {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
}
.select2-selection--multiple .select2-search__field {
  line-height: 1.3;
}

.select2-container .select2-selection {
  .select2-selection__rendered[title="Choose a Board"], 
  .select2-selection__rendered[title="Choose a Board first"] {
    color: #999;
  }
}
.select2-container .select2-selection.select2-selection--multiple {
  height: auto;

  .select2-selection__rendered {
    line-height: 39px;
  }
}