@import "variables";

.hide {
  display: none !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
}
.left {
  float: left;
}

.right-margin {
  margin-right: $gutter;
}
.right-margin--small {
  margin-right: 10px;
}

.no-bottom-margin {
  margin-bottom: 0;
}
.no-top-margin {
  margin-top: 0;
}

.paragraph--small {
  margin: 5px 0;
}